<table>
  <tr>
    <td>STT</td>
    <td>Name</td>
    <td>Price</td>
    <td>Category</td>
  </tr>
    <%
      @products.each_with_index do |p, i|
    %>
    <tr>
      <td><%= i %></td>
      <td><%= p.title %></td>
      <td><%= p.price %></td>
      <td><%= p.category.try(:title) %></td>
    </tr>
    <% end %>
</table>