

<table>
  <tr>
    <td>Name</td>
    <td>Price</td>
    <td>Category</td>
    <td></td>
    <td></td>
  </tr>
  .listing
  <%= render partial: 'product', collection: @products, as: :p %>
</table>

<button><%= link_to('Add new product', new_product_path) %></button>